body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 2000px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    color: black;
}

#h2-title {
    color: black;
}

h2 {
    color: cadetblue;
}

h3 {
    color: #34495e;
}

h4 {
    color: #7f8c8d;
}

p {
    margin: 10px 0;
}

.upper_center_arrangement {
    font-size: 15px;
    font-weight: bold;
    color: blanchedalmond;
    background-color: lightslategray;
    /* 글자 주변 색 */
    padding: 10px 0;
    border-radius: 10px;
    /* 모서리를 둥글게 */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    /* 그림자 효과 */
    text-align: center;
    width: 100%;
    /* 양쪽 여백 */
}

.below_box {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

.below {
    margin-bottom: 50px;
}